* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
font-family: 'Roboto', sans-serif;
background-color:#f2f5ff ;
/* height:80vh; */

}


.wrapper-1 {
  color:#1a2a68;
  border: none;
}

.wrapper-2 {
  margin-top: 100px;
  outline: none;
}

.wrapper-1 h1 {
  text-align: center;
  text-shadow: 6px 3px 6px #1e3799;
  color:#f1f2f6;
  background-color: rgb(56, 114, 223);
  width: 50%;
  border-radius: 0px 15px;
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0), 0 1px 1px 0 rgb(0, 0, 0);
}

.wrapper-1 p {
  color: #3f76ee;
  font-weight: bold; 
}


.signup {
  text-align: center;
}

.signup h2 {
    color:#3f76ee;
    border:none;
    outline:none;
    text-shadow: 3px 1px 3px #a4b0be;
    position: relative;
    left: 1px;
    font-size: 2rem;
  }

  #ruler {
    width: 60%;
    text-align: center;
    color: rgb(0, 0, 0);
  }

.signup input[type="text"], input[type='email'], input[type='password'] {
  width: 70%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgb(0, 0, 0);
}

.signup input[type="text"]:focus, input[type='email']:focus, input[type='password']:focus {
  width: 75%;
  border: 1px solid black;
}

::-webkit-input-placeholder { /* Edge */
  color:black; 
}

:-ms-input-placeholder { /* Internet Explorer */
  color: black; 
}

::placeholder {
  color: black;
}

.btn {
  width: 80%;
  background-color: #0652DD;
  color: #f5f6fa;
  outline: none;
  padding: 15px;
  border: none;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgb(0, 0, 0);
  border-radius: 10px;
}

.btn:hover {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
}

#sign-in a {
  text-decoration: none;
  color:#eb2f06;
  font-weight: bold;
}


@media screen and (min-width: 450px) {
  body {
    background-image: linear-gradient(to right, #ecf0f1, #0652DD);
  }

  .wrapper {
    margin: auto;
    display: flex;
    max-width: 1200px;
    padding: 25px 10px;
    height: 100%;
    position: relative;
    top: 90px;
    border-radius: 10px;
  }

  .wrapper-1 {
    width: 50%;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(56, 114, 223); 
    margin-top: 20px;
  }

  .wrapper-1 h1 {
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 1px 2px #3742fa; 
    color: #ffffff;
    box-shadow: 0 1px 1px 0 rgb(56, 114, 223), 0 1px 1px 0 rgb(56, 114, 223);
  }

  .wrapper-1 p {
    color: #f5f6fa;
    font-weight: 1000; 
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
  }

  .wrapper-2 {
    width: 50%;
    margin-top: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgb(0, 0, 0);
    background-color:#ffffff;
  }


  .btn {
    font-size: 30px;
    padding: 10px;
  }

  .signup h2 {
    font-weight: 900;
    font-size: 30px;
    color: #3742fa;
    
  }
  .btn:hover {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
  }

  ::-webkit-input-placeholder { /* Edge */
    color:black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: black; 
  }
  
  ::placeholder {
    color: black;
  }
  
  .signup p {
    color: #57606f;
  }

  #sign-in a {
    text-decoration: none;
    color:#eb2f06;
    font-weight: bold;
  }

  #sign-in a:hover {
    font-size: 0.9rem;
  }

  .signup input[type="text"], input[type='email'], input[type='password']{
    padding: 12px;
    width: 75%;
  }

  .signup input[type="text"]:focus, input[type='email']:focus, input[type='password']:focus {
    width: 80%;
    font-style: normal;
  }
}